<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/bebo-rv8/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/bebo-rv8">Home</a></li>
	        		<li><a href="/bebo-rv8/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://thebebo.github.io/bebo-rv8/">Bebo's RV-8 Build</a></li>
				</ul>
			</footer>
		</body>
	</html>
