<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/thebebo/bebo-rv8">Github: Bebo's RV-8 Build</a></li>
				{% for tag in tags %}
					<a href="#{{ tag | slugify }}"> {{ tag }} </a>
				{% endfor %}
				</ul>
			</footer>
		</body>
	</html>
